body {
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.MuiPaper-root {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MuiTextField-root {
  margin-bottom: 20px;
}

.MuiButton-root {
  margin-top: 20px;
}
